/*
#001960

font-size: rem(15px);
font-weight: 500;
color: #001960;
font-size: rem(32px);
font-weight: 600;
color: #001960;


font-size: 15px;
color: #001960


font-size: rem(16px);
color: #001960

font-size: 15px;
font-weight: 600;
color: #001960


font-size: 15px;
color: #001960

font-size: 20px;
font-weight: 700;
color: #001960


font-size: 14px;
font-weight: 500;
color: #001960;


font-size: rem(18px);
font-weight: 500;
color: #001960;

font-size: rem(12px);
font-weight: 500;
color: #001960;

font-size: rem(40px);
font-weight: 700;
color: #001960;


font-size: rem(16px);
font-weight: 500;
color: #001960

font-size: rem(64px);
font-weight: 700;
color: #001960;





font-size: rem(18px);
font-weight: 600;
color: #1D1D1D;

font-size: rem(16px);
color: #1D1D1D;

font-size: rem(15px);
color: #8F9ABA;

font-size: rem(16px);
font-weight: 500;
color: #1D1D1D;

font-size: rem(64px);
font-weight: 700;
color: #001960;





#ffffff
font-size: rem(14px);
color: #ffffff;

font-size: rem(14px);
font-weight: 500;
color: #ffffff;

font-size: rem(24px);
font-weight: 600;
color: #ffffff;

font-size: rem(20px);
font-weight: 600;
color: #ffffff;

font-size: rem(24px);
font-weight: 600;
color: #ffffff;


font-size: rem(15px);
font-weight: 500;
color: #ffffff;

font-size: rem(18px);
color: #ffffff;

font-size: 12px;
font-weight: 500;
color: #FFFFFF;

*/